.battle-board {
  width: 100%;
  margin-top: 5%;
  border-collapse: collapse;
}

.battle-board td, 
.battle-board th {
  width: 8vw;
  height: 8vh;
  text-align: center;
  border: 1px solid black;
}

/* Alterna as cores das células para o efeito de tabuleiro */
.battle-board tbody tr:nth-child(even) td:nth-child(odd),
.battle-board tbody tr:nth-child(odd) td:nth-child(even) {
  background-color: #b58863 !important; /* Cor escura do tabuleiro */
}

.battle-board tbody tr:nth-child(even) td:nth-child(even),
.battle-board tbody tr:nth-child(odd) td:nth-child(odd) {
  background-color: #f0d9b5 !important; /* Cor clara do tabuleiro */
}
