/* Estilização do Toast de erro */
.custom-toast-error {
  background-color: #f8d7da !important; /* Vermelho claro */
  border-left: 5px solid #842029; /* Borda lateral vermelha escura */
  color: #842029; /* Texto vermelho escuro */
  padding: 12px;
  border-radius: 6px;
  min-width: 320px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estrutura do conteúdo */
.toast-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Ícone de erro */
.toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Texto */
.fail-toast-text p {
  margin: 0;
  font-size: 14px;
  color: #842029;
}

/* Botão de fechar */
.toast-close {
  background: none;
  border: none;
  cursor: pointer;
  color: #842029;
  padding: 5px;
}

.toast-close:hover {
  color: #5a1a1f;
}
